{% extends 'base.html' %}



{% block title %}{% endblock title %}
{% block body %}
<div class="container my-4">

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="static/co2.jpg" class="d-block w-100" alt="aaaaaaaaaa" style=" width=200;height=200">
            <div class="carousel-carousel-caption d-none d-md-block"
              <h2>1 slide</h2>
              <p> kasshhhhhhhhhhhhh</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="static/co1.jpg" class="d-block w-100" alt="bbbbbbb" style=" width=200;height=200">
            <div class="carousel-carousel-caption d-none d-md-block"
              <h2>2 slide</h2>
              <p> kash shi ho jaye</p>
             </div>
          </div>
          <div class="carousel-item">
            <img src="static/co3.jpg" class="d-block w-100" alt="cccccccc" style=" width=200;height=200">
            <div class="carousel-carousel-caption d-none d-md-block"
              <h2>3 slide</h2>
              <p>maza hi aa jaye</p>
            </div>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
this is body
{% endblock body %}

    